<div class="messagelist left">
  <ul class="messages">
    <% @messages.each do |message| %>
        <%= render :partial => 'partials/messages/message', :locals => { :message => message } %>
    <% end %>
  </ul>
</div>
<div class="unitx4 right messagebody">
  <%= simple_format(@messages.first.messageraw.text) %>
</div>