<div class="unitx6 left">
  <ul class="messages">
    <% @conversations.each do |item| %>
        <%= render :partial => 'partials/messages/message', :locals => { :item => item } %>
    <% end %>
  </ul>
</div>
