<div class="unitx6 left">
  <ul class="messages">
    <% @conversations.each do |conversation| %>
        <%= render :partial => 'partials/messages/message', :locals => { :conversation => conversation } %>
    <% end %>
  </ul>
</div>
