<div class="box common">
  <div class="title">
    BUSCAR
  </div>
  <div class="content">
    <form action="/stock/search" method="get" class="simple_form">
      <div class="input">
      <input type="text" id="q" name="q" style="width:280px" />
      </div>
      <input type="submit" value="Buscar">
    </form>
  </div>
</div>