<div class="content center" id="art_show" style="padding:2px 1px 40px 2px; text-align:center;">
<% @arts.each do |art| %>
    <div class="bimg" style="text-align:center;">
      <% if art.photo == false %>
      <%= link_to image_tag(art.image.url(:splash).to_s, :title=> art.name, :alt => art.name), art_profile_path(:slug => art.slug) %>
      <% else %>
      <%= link_to image_tag(art.image.url(:splash).to_s, :title=> art.name, :alt => art.name), photo_profile_path(:slug => art.slug) %>
      <% end %>
    </div>
<% end %>
</div>
<script type="text/javascript" charset="utf-8">
var $container = $('#art_show');
$container.imagesLoaded( function(){
  $container.masonry({
    itemSelector : '.bimg',
    isAnimated: true
  });
});

$(document).ready(function(){
  $(".bimg img").tipsy({
    live: true,
    trigger: 'hover',
    gravity: 'w'
  });
});
</script>