<% content_for :title do %>
  
<% end %>

<% content_for :left do %>
  <p>Payment is accepted. Please confirm your purcharse.</p>
  

  <%= @details.inspect %>
<% end %>

<% content_for :right do %>
  
<% end %>