<% if @items.count == 0 %>
  <div class="ml10">
  <% if @search.collation %>
    <p class="s16">Did you mean: <%= link_to @search.collation, search_path(:utf8 => '✓', :search => @search.collation) %>?</p>
  <% else %>
    <p class="s16">Can not find anything with '<%= @keywords %>', try again</p>
  <% end %>
  </div>
  
  
<% else %>
<div class="paginate">
  <%#= paginate @items, :inner_window => 1 %>
</div>
<ul id="listing">
  <% @items.each do |item| %>
    <% case item.class.to_s 
       when 'User' %>
         <%= render :partial => 'partials/lists/user', :locals => { :user => item } %>
    <% when 'Art' %>
         <%= render :partial => 'partials/lists/art', :locals => { :art => item } %>
    <% end %>
  <% end %>
</ul>
<div class="paginate">
  <%#= paginate @items, :inner_window => 1 %>
</div>
<% end %>