<div class="unitx5 left">
  <% if @items.count == 1 %>
    <h2><%= t('search.1result', :keywords => @keywords) %></h2>
  <% else %>
    <h2><%= t('search.nresults', :number => @items.count, :keywords => @keywords) %></h2>
  <% end %>
</div>