<%  useractivities = @current_user.useractivities.order_by(:when, :desc) 

if useractivities.count > 0 %>
<div class="box orange">
  <div class="title">ACTIVITY</div>
  <div class="content">
    <ul class="activities">
  <% useractivities.each do |useractivity| %>
    <% activity = useractivity.activity %>
    <% @user = activity.user %>
    <%= render :partial => 'partials/activity/user_activity', :locals => { :activity => activity } %>
  <% end %>
    </ul>
  </div>
</div>
<% end %>