<li>
  <div class="actor">
    <%= link_to image_tag(comment.author.avatar.url(:mini).to_s, :alt => comment.author.name) %>
  </div>
  <div class="text">
    <p class="s12">
      <%= link_to comment.author.name, user_profile_path(:username => comment.author.username) %>: <%= comment.text %>
    </p>
  </div>
</li>