<% begin %>
<li>
  <div class="actor">
    <%= link_to image_tag(comment.author.avatar.url(:mini).to_s, :alt => comment.author.name), user_profile_path(:username => comment.author.username)  %>
  </div>
  <div class="text s12">
      <%= link_to comment.author.name, user_profile_path(:username => comment.author.username) %>
      <p><%= simple_format(comment.text) %><p>
      <%= timeago(comment.created_at) %>
  </div>
</li>
<% rescue 
end%>