  <%= render :partial => 'partials/user/profile/myart' %>
<div class="unitx3 left">
  <%= render :partial => 'partials/user/profile/about' %>
  <%= render :partial => 'partials/user/profile/activity' %>
</div>
<div class="unitx3 right">
  <%= render :partial => 'partials/user/profile/comments' %>
</div>