<% if @photos.count > 0 %>
<div class="box purple">
  <div class="title"><%= t('users_profile.my_photos') %><%= link_to t('common.see_all_female'), user_photos_path(:username => @user.username) if @photos.count > 8 %></div>
  <div class="content">
    <% @photos.each do |art| %>
      <div class="image_thumb">
        <%= link_to image_tag(art.image.url(:thumb).to_s, :alt => art.name), photo_profile_path(:slug => art.slug) %>
      </div>
    <% end %>
  </div>
</div>
<% end %>