<div class="box purple">
  <div class="content center">
    <%= image_tag(@user.avatar.url.to_s, :alt => @user.name) %>
  </div>
</div>
<div class="box purple">
  <div class="title">USER INFO</div>
  <div class="content">
    <p>x followers</p>
    <p>follows x users</p>
  </div>
</div>