<div class="unitx6 left">
  <h2><%= @user.name %></h2>
</div>
<% if current_user %>
<% if current_user != @user %>
<div class="unitx1 align-right" id="message">
      <%= link_to t('common.send_message'), new_message_path(:username => @user.username), :rel => 'modal', :class => ['abutton', 'message'], :style => 'margin-right:20px' %>
</div>
<div class="unitx1 left" id="follow_status">
    <% if GraphClient.connected?('Forward', 'Follow', current_user, @user) == false %>
      <%= link_to t('common.follow'), action_follow_path(:username => @user.username), :remote => true, :class => ['abutton', 'follow'], :walk => 'no' %>
    <% else %>
      <%= link_to t('common.you_follow'), action_unfollow_path(:username => @user.username), :remote => true, :class => ['abutton', 'unfollow'], :walk => 'no' %>
    <% end %>
</div>

<% end %>
<% end %>