<% content_for :title do %>
  
<% end %>

<% content_for :left do %>
  <p>Gracias por comprar en tabelia.</p>
  <br /><br />
  <p><a href="/" class="abutton">Volver al inicio</a>
  

  <br /><br /><br />
  <%= @details.inspect %>
<% end %>

<% content_for :right do %>
  
<% end %>
