<div id="addresses">
  <%= render :partial => 'partials/addresses/addressesorder' %>
</div>
<div id="cart_totals">
  <%= render :partial => 'partials/cart/index/totals' %>
</div>
<div id="checkout">
  <% if @items.count > 0 %>
  <%= render :partial => 'partials/cart/index/checkout' %>
  <% end %>
</div>