<% content_for :left do %>
<h2>Users</h2>
<div class="paginate">
  <%= paginate @users, :inner_window => 1 %>
</div>
<ul id="people">
  <% @users.each do |user| %>
    <%= render :partial => 'partials/lists/user', :locals => { :user => user } %>
  <% end %>
</ul>
<div class="paginate clear">
  <%= paginate @users, :inner_window => 1 %>
</div>
<% end %>
