<% content_for :left do %>
  <p>Creación de nueva cuenta..... Usando un proveedor</p>
  <p> Aquí debe ir el formulario </p>
  
  <div id="new_user_form">
    <%= render :partial => 'users/new_user_form' %>
  </div>
<% end %>