<% content_for :left do %>
<div class="unitx5 left">
  <h2><%= @user.name %></h2>
</div>
<div class="unitx1 right">
  <a href="#" class="abutton">Follow</a>
</div>
<div class="box purple">
  <div class="title">my art<a class="add" href="#">see all...</a></div>
  <div class="content">
    <p>Un p치rrafo</p>
    <p>Probemos con <a href="#">un enlace</a></p>
    <p>otro parrafo</p>
    <p class="tags"><a href="#" class="tag">un tag</a><a href="#" class="tag">otro tag</a><a href="#" class="tag">y otro tag</a></p>
        <p>otro parrafo</p>
      </div>
</div>
<div class="unitx3 left">
  <div class="box purple">
    <div class="title">sobre mi</div>
    <div class="content">
      <p>Un p치rrafo</p>
      <p>Probemos con <a href="#">un enlace</a></p>
      <p>otro parrafo</p>
      <p class="tags"><a href="#" class="tag">un tag</a><a href="#" class="tag">otro tag</a><a href="#" class="tag">y otro tag</a></p>
          <p>otro parrafo</p>
        </div>
  </div>
</div>
<div class="unitx3 right">
  <div class="box blue">
    <div class="title">comments</div>
    <div class="content">
      <p>Un p치rrafo</p>
      <p>Probemos con <a href="#">un enlace</a></p>
      <p>otro parrafo</p>
      <p><a href="#" class="tag">un tag</a><a href="#" class="tag">otro tag</a><a href="#" class="tag">y otro tag</a></p>
    </div>
  </div>
</div>
<% end %>
<% content_for :right do %>
<div class="box purple">
  <div class="content">
    <p>Un p치rrafo</p>
    <p>Probemos con <a href="#">un enlace</a></p>
    <p>otro parrafo</p>
    <p class="tags"><a href="#" class="tag">un tag</a><a href="#" class="tag">otro tag</a><a href="#" class="tag">y otro tag</a></p>
        <p>otro parrafo</p>
      </div>
</div>
<% end %>
