<div class="box common">
  <div class="title">
    AGENDA
  </div>
  <div class="content">
    <%# if @place.events.count == 0 %>
      <%= t('places.agenda_empty') %>
    <%# else %>
      
    <%# %>
  </div>
</div>