<div class="box common">
  <div class="title">
    AGENDA
  </div>
  <div class="content">
    <% if @agenda.count == 0 %>
      <%= t('places.agenda_empty') %>
    <% else %>
      <ul id="listing2">
      <% @agenda.each do |event| %>
        <%= render :partial => 'partials/events/agendaentry', :locals => { :event => event } %>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>