<div class="box common">
  <div class="title">
    <p><%= t('common.comments') %></p>
  </div>
  <div class="content">
    <div class="fb-comments" data-href="<%= @canonical %>" data-num-posts="6" data-width="718"></div>
  </div>
</div>