<div class="box common">
  <div class="title">
    <%= t('common.comments')%>
  </div>
  <div class="content">
    <%# if @place.events.count == 0 %>
      <%= t('common.no_comments_yet') %>
    <%# else %>
      
    <%# %>
  </div>
</div>