<div class="box common">
  <div class="title">
  </div>
  <div class="content">
    <% if @place.place_info == '' %>
      <%= t('places.no_description_provided') %>
    <% else %>
      <%= Redcarpet.new(@place.place_info, :filter_html, :hard_wrap, :autolink, :no_intraemphasis).to_html.html_safe %>
    <% end %>
  </div>
</div>