<% content_for :title do %>
  <h2><%= t('common.how_to_buy') %></h2>
<% end %>

<% content_for :left do %>
<% case I18n.locale.to_s %>
<% when 'es' %>
<div class="full">
  <div class="box40px">
    <p class="s16">Bienvenido/a a tu <span class="u">nueva comunidad de arte</span>. tabelia es un lugar donde podrás comprar reproduciones de cuadros y fotografías de artistas de todo el mundo. tabelia es un <span class="u">mercado para la compra y la venta de arte</span>.</p>
    <br />
    <p class="s16">¡tabelia te lo pone fácil! Ponemos a tu disposición:</p><br />
    <ul>
      <li><p class="s14">Una <span class="u">plataforma</span> desde la que puedes <span class="i">descubrir a cientos de  artistas de todo el mundo</span>. Podrás acceder a sus perfiles y conocer todo lo que hayan compartido sobre su obra, su currículum, estudios, técnicas preferidas, etc.</p></li>
      <br />
      <li><p class="s14">Una <span class="u">tienda online</p> desde la que puedes <span class="i">comprar reproducciones de cada una de las obras publicadas. Te ofrecemos:</p>
        <br />
        <ul>
          <li><p class="s14">Buscar y seleccionar en base a tus preferencias. Encuentra por color, géneros y estilos pictóricos, temática y técnica fotográfica, lo que estás buscando. Disfruta del arte mientras navegas por nuestro sitio web. </p></li>
          <li><p class="s14">Decidir el <span class="u">tamaño</span> en el que quieras que te imprimamos la obra. Siempre va a ser proporcional al tamaño del original. Podemos imprimir hasta un máximo de un metro por el lado más corto.</p></li>
          <li><p class="s14"><span class="u">Recibir siempre el mejor producto</span>. Los procesos de impresión se realizan con el mejor equipo disponible en el mercado.</p></li>        
          <li><p class="s14">Elegir el <span class="u">tipo de soporte</span>. Te ofrecemos distintos materiales en los que podemos imprimir tu reproducción: lienzo, papel texturado, póster, papel fotográfico.</p></li>
          <li><p class="s14"><span class="u">Enmarcar</span>. Por ahora, puedes elegir que el lienzo se monte sobre un bastidor. Estamos trabajando para, en breve, poder ofrecerte otros tipos de montaje.</p></li>
          <li><p class="s14"><span class="u">Pago seguro</span>. Puedes efectuar tus pagos utilizando tarjetas de débito y crádito de prácticamente todas las compañías bancarias o a través de una cuenta Paypal. Todos las operaciones que se realizan en tabelia se realizan en un entorno seguro. Nosotros no tenemos acceso a tus datos facilitados durante la transacción (número de tarjeta, identificación...)</p></li>
          <li><p class="s14"><span class="u">Manipulación y embalaje</span>. Cada obra tiene una cuidada presentación que además garantiza su integridad.</p></li>
          <li><p class="s14"><span class="u">Conocer el estado de tus pedidos.</span> En todo momento podrás saber en que punto está tu pedido: en preparación, en tránsito. Así mismo el operador logístico te facilita información de su ubicación.</p></li>
          <li><p class="s14"><span class="u">Atención al cliente.</span>. Respondemos tus dudas, reclamaciones, sugerencias ... </p></li>
        </ul>
        </li>
        <br />
        <li><p class="s14"><span class="u">Integración con las redes sociales</span>, que te permitirá compartir, comentar y recomendar las obras publicadas en tabelia.</p></li>
    </ul>
    <br />
    <p class="s16 b"><a href="help/buyer_steps">¿Cúal es el proceso de compra?</a></p>
    <br /><br />
  </div>
</div>

<% end %>


<% end %>