<% content_for :title do %>
  <h2><%= t('common.how_to_sell') %></h2>
<% end %>

<% content_for :left do %>
<% case I18n.locale.to_s %>
<% when 'es' %>
<div class="full">
  <div class="box40px">
    <p class="s16 b">Únete a tabelia y comienza hoy a vender reproducciones de tus obras de arte, cuadros y fotos</p>
    <br />
    <p class="s14">Bienvenido/a a <span class="u">tu nueva comunidad de arte</span>, un lugar donde podrás mostrar, comentar, compartir... junto con el resto de miembros nuevas formas de entender el arte. tabelia es un <span class="u">mercado para la compra y la venta de arte, pinturas y fotografías.</span></p>
    <br />
    <p class="s14">¿Te gustaría ganar dinero con tu arte? Somos tu herramienta para facilitarte esta tarea. ¡Comienza hoy!</p>
    <br />
    <p class="s14">Al crear tu perfil tienes acceso a la publicación de cuadros y fotografías. Creas la entrada de tu obra, completa la información importante, título, la técnica que usaste, todo lo que desees contar en la descripción (que te ha inspirado, su significado ...) y por supuesto, <span class="i">el precio que deseas cobrar por reproducción.</span></p>
    <br /><br />
    <p class="s16">¡tabelia te lo pone fácil! Ponemos a tu disposición de forma <span class="i b">GRATUITA:</span></p><br />
    <ul>
      <li><p class="s14">Una <span class="u">plataforma</span> desde la que puedes <span class="i">darte a conocer como artista</span>, así como a <span class="i">tu obra</span>. Podrás tener un completo <span class="u">perfil de usuario</span>, diseñado para maximizar su visibilidad en internet. Tú decides si quieres  que sea público (visible en toda internet, de manera que se podrá encontrar a través de buscadores como google o bing) o restringuirlo únicamente a los usuarios registrados en tabelia.</p></li>
      <br />
      <li><p class="s14">Una <span class="u">tienda online</p> desde la que puedes <span class="i">vender reproducciones de tus cuadros y fotos</span>. Tú eres el artista y tabelia se encarga del resto:</p>
        <br />
        <ul>
          <li><p class="s14"><span class="u">Impresión</span>. El cliente puede elegir el tipo de soporte (lienzo, papel texturado, póster, papel fotográfico, ...) y el tamaño (proporcional a que tú nos facilitas como original)</p></li>
          <li><p class="s14"><span class="u">Enmarcarción</span>. Por ahora, el cliente tiene opción de elegir que el lienzo se monte sobre un bastidor. Estamos trabajando para ofrecer otros tipos de montaje.</p></li>
          <li><p class="s14"><span class="u">Manipulación y embalaje</span>. Cada obra tiene una cuidada presentación que además garantiza su integridad.</p></li>
          <li><p class="s14"><span class="u">Cobro de las obras</span>. Nos aseguramos que cada transacción se realiza adecuamente y de forma segura.</p></li>
          <li><p class="s14"><span class="u">Atención al cliente.</span>. Respondemos sus dudas, reclamaciones, sugerencias ... así como la gestión de las devoluciones si fuera el caso.</p></li>
          <li><p class="s14"><span class="u">Pago al artista</span>. Tú recibes mensualmente el dinero generado por tus obras vendidas.</p></li>
        </ul>
        </li>
        <br />
        <li><p class="s14"><span class="u">La integración con las redes sociales</span>. Cada vez que publiques una pintura o una foto ésta será publicada en nuestra página de facebook y en nuestro twitter. Enlaza tu cuenta con tu usuario de facebook y twitter para recibir y publicar interacciones automáticamente (menciones en twitter, recomendaciones en facebook y mucho más.)</p></li>
    </ul>
    <br />
    <p class="s16 b"><a href="help/publish_paintings">¿Cómo publico mis cuadros?</a></p>
    </br />
    <p class="s16 b"><a href="help/publish_photographs">¿Cómo publico mis fotografias?</a></p>
    <br /><br />
  </div>
</div>

<% end %>


<% end %>