<% content_for :title do %>
  <h2><%= t('common.how_to_sell') %></h2>
<% end %>

<% content_for :left do %>
<% case I18n.locale.to_s %>
<% when 'es' %>
<div class="full">
  <div class="box40px">
    <p class="s16 b">Únete a tabelia y comienza hoy a vender reproducciones de tus obras de arte, cuadros y fotos</p>
    <br />
    <p class="s14">Bienvenido/a a <span class="u">tu nueva comunidad de arte</span>, un lugar donde podrás mostrar, comentar, compartir... junto con el resto de miembros nuevas formas de entender el arte. tabelia es un <span class="u">mercado para la compra y la venta de arte, pinturas y fotografías.</span></p>
    <br />
    <p class="s14">¿Te gustaría ganar dinero con tu arte? Somos tu herramienta para facilitarte esta tarea. ¡Comienza hoy!</p>
    <br />
    <p class="s14">Al crear tu perfil tienes acceso a la publicación de cuadros y fotografías. Creas la entrada de tu obra, completa la información importante, título, la técnica que usaste, todo lo que desees contar en la descripción (que te ha inspirado, su significado ...) y por supuesto, <span class="i">el precio que deseas cobrar por reproducción.</span></p>
    <br /><br />
    <p class="s16">¡tabelia te lo pone fácil! Ponemos a tu disposición de forma <span class="i b">GRATUITA:</span></p><br />
    <ul>
      <li><p class="s14">Una <span class="u">plataforma</span> desde la que puedes <span class="i">darte a conocer como artista</span>, así como a <span class="i">tu obra</span>. Podrás tener un completo <span class="u">perfil de usuario</span>, diseñado para maximizar su visibilidad en internet. Tú decides si quieres  que sea público (visible en toda internet, de manera que se podrá encontrar a través de buscadores como google o bing) o restringuirlo únicamente a los usuarios registrados en tabelia.</p></li>
      <br />
      <li><p class="s14">Una <span class="u">tienda online</span> desde la que puedes <span class="i">vender reproducciones de tus cuadros y fotos</span>. Tú eres el artista y tabelia se encarga del resto:</p>
        <br />
        <ul>
          <li><p class="s14"><span class="u">Impresión</span>. El cliente puede elegir el tipo de soporte (lienzo, papel texturado, póster, papel fotográfico, ...) y el tamaño (proporcional a que tú nos facilitas como original)</p></li>
          <li><p class="s14"><span class="u">Enmarcarción</span>. Por ahora, el cliente tiene opción de elegir que el lienzo se monte sobre un bastidor. Estamos trabajando para ofrecer otros tipos de montaje.</p></li>
          <li><p class="s14"><span class="u">Manipulación y embalaje</span>. Cada obra tiene una cuidada presentación que además garantiza su integridad.</p></li>
          <li><p class="s14"><span class="u">Cobro de las obras</span>. Nos aseguramos que cada transacción se realiza adecuamente y de forma segura.</p></li>
          <li><p class="s14"><span class="u">Atención al cliente.</span>. Respondemos sus dudas, reclamaciones, sugerencias ... así como la gestión de las devoluciones si fuera el caso.</p></li>
          <li><p class="s14"><span class="u">Pago al artista</span>. Tú recibes mensualmente el dinero generado por tus obras vendidas.</p></li>
        </ul>
        </li>
        <br />
        <li><p class="s14"><span class="u">La integración con las redes sociales</span>. Cada vez que publiques una pintura o una foto ésta será publicada en nuestra página de facebook y en nuestro twitter. Enlaza tu cuenta con tu usuario de facebook y twitter para recibir y publicar interacciones automáticamente (menciones en twitter, recomendaciones en facebook y mucho más.)</p></li>
    </ul>
    <br />
    <p class="s16 b"><a href="/help/paintings">¿Cómo publico mis cuadros?</a></p>
    </br />
    <p class="s16 b"><a href="/help/photographs">¿Cómo publico mis fotografias?</a></p>
    <br /><br />
  </div>
</div>

<% when 'en' %>
<div class="full">
  <div class="box40px">
    <p class="s16 b">Join tabelia y begin selling art prints today!</p>
    <br />
    <p class="s14">Welcome to your <span class="u">new art community</span>. This is a place where you can show, comment, share... with the rest of the community what art is. tabelia is a <span class="u">marketplace for buy and sell your art, paintings and photographs.</span></p>
    <br />
    <p class="s14">Do you want to make business with your art? We are the perfect tool for this task. Begin now!</p>
    <br />
    <p class="s14">When you create your profile you have access to publish your paintings and photographs. There are some easy steps to make your publications, you write what information about your art others can see, title, tecniques used, and all you think you must say on the description (what inspired you, its meaning...) and of courst, <span class="i">the price you want to charge each time the print sells.</span></p>
    <br /><br />
    <p class="s16">tabelia works for you and make your life easier! You have this tools <span class="i b">for FREE:</span></p><br />
    <ul>
      <li><p class="s14">A <span class="u">plataform</span> where you can <span class="i">increase your reputation as artist</span>. You will have a full <span class="u">user profile</span>, designed for have the most visibility on Internet. You can decide in any moment if you want to publish it to the world (so others can find you using web searchers, like google) o just allow to registeres users to see your data.</p></li>
      <br />
      <li><p class="s14">An <span class="u">online shop</span> where you can sell art and photo prints as soon as your art profiles get published. Our vision is simple, you are the artist, tabelia makes all the rest of the process:</p>
        <br />
        <ul>
          <li><p class="s14"><span class="u">Printing</span>. Always with the best material and best equiptment. Costumers are able to select what kind of media they want for the print (streched canvases, textured paper, poster, photographic paper...) and the size of the print. (Always proportional to the original file you upload). There are no restrictions about your art size. </p></li>
          <li><p class="s14"><span class="u">Framing</span>. Now, costumers are able to select streching on bar for streched canvases, we are working on a catalogue of frames for all the arts.</p></li>
          <li><p class="s14"><span class="u">Handling and packaging</span>. Every art sended will be packed carefully preserving its integrity.</p></li>
          <li><p class="s14"><span class="u">Secure payments</span>. We take care of the whole process of the order on our secure shopping cart. We take security as priority.</p></li>
          <li><p class="s14"><span class="u">Costumer relationship.</span>. We ask their questions, feedbacks... as we attend the posible reclamations and we take care of returns if the user is not happy with the results.</p></li>
          <li><p class="s14"><span class="u">Process the payment to you</span>. You receive monthly payments of your art sellings. You can see everytime what sells you have done on your account.</p></li>
        </ul>
        </li>
        <br />
        <li><p class="s14"><span class="u">Social Network links</span>. Everytime you publish a work we promote it in all the places we can, our facebook page, on twitter. Link your tabelia account with your user on facebook and twitter to promote by yourself easily your work. (you will be mentioned on twitter when someone says that likes your work or begins following you, and using the new opengraph on facebook, your friends will be able to see your work and share with others and many more on the way).</p></li>
    </ul>
    <br />
    <p class="s16 b"><a href="/help/paintings">How can I publish my paintings?</a></p>
    </br />
    <p class="s16 b"><a href="/help/photographs">How can I publish my photographs?</a></p>
    <br /><br />
  </div>
</div>



<% end %>


<% end %>