<% content_for :title do %>

<% end %>


<% content_for :left do %>
<div class="content center" style="height:332px;">
<div  id="last_show" style="margin-bottom:10px; height: 332px;"></div>
  <%= render :partial => 'pages/javascript' %>
<% end %>
</div>

<% content_for :right do %>
<div class="special-right left">
  <% cache("activity-index-#{current_user.id.to_s}-#{session[:locale].to_s}") do %>
  <%= render :partial => 'partials/pages/index/activity' %>
  <% end %>
</div>
<% end %>
