<% content_for :left do %>
<div class="box purple">
  <div class="title">texto del título</div>
  <div class="content">
    <p>Un párrafo</p>
    <p>Probemos con <a href="#">un enlace</a></p>
    <p>otro parrafo</p>
    <p class="tags"><a href="#" class="tag">un tag</a><a href="#" class="tag">otro tag</a><a href="#" class="tag">y otro tag</a></p>
        <p>otro parrafo</p>
      </div>
</div>
<div class="unitx3 left">
  <div class="box purple">
    <div class="title">texto del título</div>
    <div class="content">
      <p>Un párrafo</p>
      <p>Probemos con <a href="#">un enlace</a></p>
      <p>otro parrafo</p>
      <p class="tags"><a href="#" class="tag">un tag</a><a href="#" class="tag">otro tag</a><a href="#" class="tag">y otro tag</a></p>
          <p>otro parrafo</p>
        </div>
  </div>
</div>
<div class="unitx3 right">
  <div class="box blue">
    <div class="title">texto del título2</div>
    <div class="content">
      <p>Un párrafo</p>
      <p>Probemos con <a href="#">un enlace</a></p>
      <p>otro parrafo</p>
      <p><a href="#" class="tag">un tag</a><a href="#" class="tag">otro tag</a><a href="#" class="tag">y otro tag</a></p>
    </div>
  </div>
</div>
<% end %>

<% content_for :right do %>
<div class="box orange">
  <div class="title">texto del título</div>
  <div class="content">
    <p>Un párrafo</p>
    <p>Probemos con <a href="#">un enlace</a></p>
    <p>otro parrafo</p>
    <p class="tags"><a href="#" class="tag">un tag</a><a href="#" class="tag">otro tag</a><a href="#" class="tag">y otro tag</a></p>
        <p>otro parrafo</p>
      </div>
</div>
<div class="box green">
  <div class="title">texto del título2</div>
  <div class="content">
    <p>Un párrafo</p>
    <p>Probemos con <a href="#">un enlace</a></p>
    <p>otro parrafo</p>
    <p><a href="#" class="tag">un tag</a><a href="#" class="tag">otro tag</a><a href="#" class="tag">y otro tag</a></p>
    </div>
</div>
<% end %>
