<% content_for :title do %>

<% end %>


<% content_for :left do %>
<div id="slider" class="nivoSlider">
  <% case I18n.locale.to_s %>
  <% when 'en' %>
    <img src="http://assets.tabelia.com/assets/welcome/slide_01_en.jpg" alt="" />
    <img src="http://assets.tabelia.com/assets/welcome/slide_02_en.jpg" alt="" />
  <% when 'es' %>
    <img src="http://assets.tabelia.com/assets/welcome/slide_01_es.jpg" alt="" />
    <img src="http://assets.tabelia.com/assets/welcome/slide_02_es.jpg" alt="" />
  <% end %>
</div>




<div class="content center" style="height:332px;">
<div  id="last_show"></div>
  <%= render :partial => 'pages/javascript' %>
<% end %>
</div>

<% content_for :right do %>
<div class="special-right left">
  <div class="frontpage">
    <h2 class="logo"><%= t('common.tabeliah2')%></h2>
    <br />
    <% case I18n.locale.to_s %>
    <% when 'es' %>
    <p class="center s24"><span class="redb">tabelia</span> es tu <br /><span class="u">galería de arte virtual</span><br/><span class="red">abierta al mundo</span><br/> en la que cualquiera puede <br />exponer, vender y/o comprar <br /> reproducciones de las obras publicadas.<br/></p>
    <p class="center s16">Date un paseo por nuestra web, <br /><span class="red">y empieza a disfrutar del ARTE.</span></p>
    <p class="center s16"><a href="/help">¿Cómo funciona?</a></p>
    <p class="center s16"><a href="/signup">Regístrate ahora</a></p>
    <% when 'en' %>
    <p class="center s24"><span class="redb">tabelia</span> is your <br /><span class="u">virtual art gallery</span><br/><span class="red">open to the world</span><br/> where anybody is able to <br />present, sell and/or buy <br /> reproductions of the published pictures.<br/></p>
    <p class="center s16">Take a look, <br /><span class="red">and begin enjoying ART.</span></p>
    <p class="center s16"><a href="/help">How this works?</a></p>
    <p class="center s16"><a href="/signup">Join Now!</a></p>
    <% end %>
  </div>
</div>
<% end %>
