<% content_for :title do %>
  <h2><%= t('common.how_tabelia_works') %></h2>
<% end %>

<% content_for :left do %>
<% case I18n.locale.to_s %>
<% when 'es' %>

<div class="full">
  <div class="box40px">
    <p class="center s18">Quiero publicar y vender mis pinturas</p>
    <br />
    <div class="column width1 first">
      <img src="http://assets.tabelia.com/assets/help/p1.png" alt="step 1" />
    </div>
    <div class="column width3a">
      <br /><br />
      <p class="s16 b">Primer paso. Creación.</p><br />
      <p class="s14">En este caso Belio ha decidido hacer un cuadro de unas montañas nevadas.</p>
    </div>
    <div class="column width3a first">
      <p class="s16 aright b">Segundo paso. Escaneado.</p><br />
      <p class="s14 aright">Una ver terminado el cuadro, es necesario escanearlo. <br />A continuación, haz los retoques que consideres necesarios en tu editor favorito.</p>
      <p class="s14 aright">Nuestro equipo no retocará tu imágen, tú eres el creador <br />y el único que sabe cómo debe presentarse correctamente.</p>
      <p class="s14 aright">Una foto no es válida, porque se generan brillos y no suelen estar<br /> completamente alineadas, con lo que la calidad no sería la adecuada.</p><br />
      <p class="s14 aright"><a href="/help/big_art">¿Tu obra no entra en tu escáner?</a></p>
    </div>
    <div class="column width1">
      <img src="http://assets.tabelia.com/assets/help/p2.png" alt="step 2" />
    </div>
    <div class="column width1 first">
      <img src="http://assets.tabelia.com/assets/help/p3.png" alt="step 3" />
    </div>
    <div class="column width3a">
      <p class="s16 b">Tercer paso. Publicación.</p><br />
      <p class="s14">Ya has dejado exactamente la imágen a subir como deseas.</p>
      <p class="s14">Desde la opción 'mis obras' de tu perfil y añade esta nueva, escribe su nombre, <br/>su descripción, cuánto quieres cobrar por reproducción...</p><br />
      <p class="s14">Una vez finalizado, nuestro equipo validará y publicará tu obra,<br/> confirmándotelo por correo antes de 48 horas. <br />Si hubiera algún problema te lo comunicaremos.</p>
    </div>
    <div class="column width3a first">
      <br />
      <p class="s16 aright b">Cuarto paso. Diselo a todos.</p>
      <br />
      <p class="s14 aright">¿Ya está tu obra publicada?</p>
      <p class="s14 aright">Dile a todos que la visiten, en tu blog, en tu perfil de redes sociales... donde quieras.</p>
      <br />
      <p class="s14 aright">Cuando alguien compre una reproducción de tu obra <br />recibirás un correo, podrás ver el historial de ventas tu perfil.</p>
    </div>
    <div class="column width1">
      <img src="http://assets.tabelia.com/assets/help/p4.png" alt="step 4" />
    </div>
  <br /><br />
  </div>

</div>


<% when 'en' %>
<div class="full">
  <div class="box40px">
    <p class="center s18">I want to publish and sell my paintings</p>
    <br />
    <div class="column width1 first">
      <img src="http://assets.tabelia.com/assets/help/p1.png" alt="step 1" />
    </div>
    <div class="column width3a">
      <br /><br />
      <p class="s16 b">Step 1. Creation.</p><br />
      <p class="s14">This time Belio has decided to paint some snowy mountains.</p>
    </div>
    <div class="column width3a first">
      <p class="s16 b aright">Step 2. Scan.</p>
      <p class="s14 aright">Once finished the painting you need to scan it and make<br />any retouches needed with your favorite image editor.</p>
      <p class="s14 aright">We won't modify your image, you are the creator and the only <br />who knows how your painting must look correctly.</p>
      <p class="s14 aright">A simple photo of your painting is not valid. Normally it generates <br />brights and non-aligned images, so quality often is not accurate.</p>
      <p class="s14 aright"><a href="/help/big_art">Your painting is bigger than your scanner?</a></p>
    </div>
    <div class="column width1">
      <img src="http://assets.tabelia.com/assets/help/p2.png" alt="step 2" />
    </div>
    <div class="column width1 first">
      <img src="http://assets.tabelia.com/assets/help/p3.png" alt="step 3" />
    </div>
    <div class="column width3a">
      <p class="s16 b">Step 3. Publising.</p>
      <p class="s14">After all editing process you have your file exactly as you was looking.</p>
      <p class="s14">Now, go to your profile arts and add this one, write it's title, <br />description, tags and the price that we will pay you on each printing.</p>
      <p class="s14">After you publish your art, we will puts the values for minimum <br />and maximum sizes the painting reproduction will be selled. <br />This process won't take more than 48 hours, will depend on the workload. <br />We will notify you as soon it gets online.</p>
    </div>
    <div class="column width3a first">
      <br />
      <p class="s16 b aright">Step 4. Tell others.</p>
      <br />
      <p class="s14 aright">Just your art was published?</p>
      <p class="s14 aright">Tell to the world about it, in your blog, in your <br />favorite social network, well.... where you really want!</p>
      <br />
      <p class="s14 aright">When someone purchases a painting made by you, you will <br />receive an e-mail with the details of the purcharse.<br /> Also you will find all the information on your private profile.</p>
    </div>
    <div class="column width1">
      <img src="http://assets.tabelia.com/assets/help/p4.png" alt="step 4" />
    </div>
  </div>
</div>
<% end %>
<% end %>
