
<% content_for :left do %>
<% case I18n.locale.to_s %>
<% when 'es' %>
<p class="center s18">Quiero comprar obras</p>
<br />
<div class="column width1 first">
  <img src="http://assets.tabelia.com/assets/help/c1.png" alt="step 1" />
</div>
<div class="column width1 no-gutter">
  <br /><br />
  <p class="s14 center">Primer paso. Búsqueda.</p><br />
  <p class="center">Selecciona entre todas las galerías el cuadro que te guste.</p>
  <p class="center">Usando la búsqueda puedes filtrar en base a tus preferencias entre todas las obras.</p>
</div>
<div class="column width1 first">
  <p class="s14 center">Segundo paso. Añadir al carrito.</p>
  <br />
  <p class="s12 center">Cuando hayas elegido una obra, podrás escalar su tamaño para para adecuarlo al sitio donde desees tenerlo.</p> 
  <p class="s12 center">Selecciona el tipo de papel, lienzo (con o sin bastidor) o en papel texturado (perfecto para poner detrás de cristal).</p>
</div>
<div class="column width1 no-gutter">
  <img src="http://assets.tabelia.com/assets/help/c2.png" alt="step 2" />
</div>
<div class="column width1 first">
  <img src="http://assets.tabelia.com/assets/help/c3.png" alt="step 3" />
</div>
<div class="column width1 no-gutter">
  <br /><br />
  <p class="s14 center">Tercer paso. Recepción de la obra.</p><br />
  <p class="s12 center">En un plazo máximo de 48 horas tu pedido saldrá de nuestros almacenes. Espera alrededor de 5 días hábiles para la recepción del mismo. Los envíos se realizan a través de <a href="http://www.fedex.com" target="_new">FedEx</a> y van asegurados.</p>
</div>
<div class="column width1 first">
  <br /><br /><br />
  <p class="s14 center">Cuarto paso. Cuelga tu cuadro.</p>
  <br />
  <p class="s12 center">Disfruta de tu nueva obra de arte donde quieras.</p>
</div>
<div class="column width1 no-gutter">
  <img src="http://assets.tabelia.com/assets/help/c4.png" alt="step 4" />
</div>

<% when 'en' %>
<p class="center s18">I'm looking to buy paintings</p>
<br />
<div class="column width1 first">
  <img src="http://assets.tabelia.com/assets/help/c1.png" alt="step 1" />
</div>
<div class="column width1 no-gutter">
  <br /><br />
  <p class="s14 center">Step 1. Search.</p><br />
  <p class="center">There are many paintings published, look for what you want and select what you like.</p>
  <p class="center">Use the search option on the top and use the filters to narrow your search.</p>
</div>
<div class="column width1 first">
  <p class="s14 center">Step 2. Add to the cart.</p>
  <br />
  <p class="s12 center">When you find your painting, add it to the cart. Select the size you want, use the selector to scale it to your needs. Select the media type, streched canvas or textured paper (perfect if you want to frame it).</p>
</div>
<div class="column width1 no-gutter">
  <img src="http://assets.tabelia.com/assets/help/c2.png" alt="step 2" />
</div>
<div class="column width1 first">
  <img src="http://assets.tabelia.com/assets/help/c3.png" alt="step 3" />
</div>
<div class="column width1 no-gutter">
  <br /><br />
  <p class="s14 center">Step 3. Receiving the painting.</p><br />
  <p class="s12 center">We will ship your order in less than 48 hours. You will be notified as soon as order ships. Wait around 5 business days to receive your goods. Shipments are made via <a href="http://www.fedex.com" target="_new">FedEx</a> and are insured.</p>
</div>
<div class="column width1 first">
  <br /><br /><br />
  <p class="s14 center">Step 4. Hang your new picture.</p>
  <br />
  <p class="s12 center">Enjoy you new art wherever you want.</p>
</div>
<div class="column width1 no-gutter">
  <img src="http://assets.tabelia.com/assets/help/c4.png" alt="step 4" />
</div>
<% end %>
<% end %>