<div class="box green">
  <div class="title">DESCRIPTION</div>
  <div class="content">
    <p><%= simple_format(@art.description) if @art.description %></p>
  </div>
  <div class="title">TAGS</div>
  <div class="content">
    <p><% @tags.each do |tag| %>
      <%= link_to tag, "#", :class => 'tag' %>
      <% end %>
    </p>
  </div>
</div>