<div class="box green">
  <div class="title">DESCRIPTION</div>
  <div class="content">
    <p><%= simple_format(@art.description) if @art.description %></p>
  </div>
  <div class="title">TAGS</div>
  <div class="content">
    <p><a href="#" class="tag">TODO</a><a href="#" class="tag">TODO2</a><a href="#" class="tag">TODO3</a></p>
  </div>
</div>