  <%= render :partial => 'partials/art/profile/art' %>
<div class="unitx3 left">
  <%= render :partial => 'partials/art/profile/description' %>
</div>
<div class="unitx3 right">
  <%= render :partial => 'partials/art/profile/comments' %>
</div>