<div class="box green">
  <div class="title">MORE ART<%= link_to 'see all...', user_arts_path(:username => @art.user.username)%></div>
  <div class="content">
    <% @art.other_art_of_user(2).each do |art| %>
    <div class="image_thumb">
      <%= link_to image_tag(art.image.url(:thumb).to_s, :alt => art.name), art_profile_path(:slug => art.slug) %>
    </div>
    <% end %>
  </div>
</div>