<% if current_user %>
<%= form_tag(comment_art_path(:slug => @art.slug), :remote => true) do |f| %>
<ul class="answer">
  <li>
    <div class="actor">
      <%= image_tag(current_user.avatar.url(:mini).to_s, :alt => current_user.name) %>
    </div>
    <div class="text">
      <%= text_area_tag :text, nil, :style => 'width:260px; line-height:18px;' %>
      <%= submit_tag " ", :class=> "comment_submit" %>
    </div>
  </li>
</ul>
<% end %>
<script type="text/javascript">
  $('textarea').expandingTextArea().val("Escribe un comentario");
  $('textarea').focus(function() {
    if ($(this).val() == 'Escribe un comentario') {
      $(this).val('');
    }
  });
  $('textarea').blur(function(){
    if ($(this).val().length > 2) {
      $("input.comment_submit").show();
    } else {
      $("input.comment_submit").hide();
      $(this).val("Escribe un comentario");
    }
  });
  $('textarea').keyup(function(){
    if ($(this).val().length > 2) {
      $("input.comment_submit").show();
    } else {
      $("input.comment_submit").hide();
    }
  });
</script>

<% end %>