<div class="unitx5 left">
  <h2><%= t('arts.likes_of') %> · <%= link_to @art.name, art_profile_path(:slug => @art.slug) %> <%= t('common.by') %> <%= link_to @art.user.name, user_profile_path(:username => @art.user.username) %></h2>
</div>