<div class="unitx5 left">
  <h2>Likes of <%= link_to @art.name, art_profile_path(:slug => @art.slug) %> by <%= link_to @art.user.name, user_profile_path(:username => @art.user.username) %></h2>
</div>