<br />
<div class="box orange">
  <div class="title"><%= t('common.help_title') %></div>
  <div class="content">
    <% case I18n.locale.to_s %>
    <% when 'es' %>
      <p class="justify s12">Este es el panel con las obras que has subido a tabelia y el estado de publicación en el que se encuentran cada una de ellas.<p>
      <p class="justify s12">Los distintos estados de publicación son los siguientes:</p>
      <ul>
        <li class="justify s12"><span class="b">En espera de aprobación.</span> Nada más subir tu obra se inicia el proceso de verificación de la calidad del fichero subido. Así mismo, en función del número de puntos que ésta tenga se configura el tamaño máximo al que puede ser reproducida.</li>
        <li class="justify s12"><span class="b">La obra es visible y está publicada.</span> Una vez verificado el fichero, éste es publicado y es visible en la red. La publicación de las obras se hace de acuerdo a tus preferencias de privacidad.</li>
        <li class="justify s12"><span class="b">Has elegido no mostrar esta obra.</span> Puedes activar la visibilidad de cada una de tus obras en cualquier momento. Si has decidido no mostrar una obra en concreto, este será su estado. Puedes volver a ponerla visible editando la misma.</li>
        <li class="justify s12"><span class="b">Obra no aceptada.</span> Si tu obra no ha sido aceptada, recibirás una explicación de que ha pasado y cómo poder solucionarlo (en su caso).</li>
      </ul>
      <p class="justify s12">Para editar una obra simplemente pincha sobre ella y accederás al panel de edición.</p>
    <% end %>
  </div>
</div>

