<div class="unitx5 left">
  <h2><%= t('arts.index.title') %></h2>
</div>
<div class="unitx2 left">
  <%= link_to t('arts.index.add_new_button'), new_art_path, :class => 'abutton', :style => 'margin-top:15px' %>
</div>
