<% content_for :left do %>
  <h2><%= @user.name %> - Art</h2>
  <div class="paginate">
    <%= paginate @arts, :inner_window => 1 %>
  </div>
  <ul id="listing">
    <% @arts.each do |art| %>
      <%= render :partial => 'partials/lists/art', :locals => { :art => art } %>
    <% end %>
  </ul>
  <div class="paginate">
    <%= paginate @arts, :inner_window => 1 %>
  </div>
<% end %>

<% content_for :right do %>
  
<% end %>