<h2 style="margin-top:0px"> <%= t('address.edit.title', :name => @address.address_name) %></h2>
<hr />
<div id="address" style="overflow:hidden; width:638px;">
<%= render :partial => 'partials/addresses/addressform' %>
</div>
