<header id="branding" class="full" style="position:fixed; z-index:1000;">
  <div class="header-login">
    <div class="align-left logo"><%= link_to image_tag("logo.png"), root_path %></div>
    <div class="in align-right">
<%= render :partial => '/partials/common/mainmenu' %>
    </div>
  </div>
</header>