<div id="topmenu">
  <div class="homemenu">
    <ul id="mainmenu" class="menu">
      <li><%= link_to "Inicio", root_path %></li>
      <li><%= link_to "Gente", users_path %></li>
      <li><a href="#">Categorias</a>
      <ul class="sub-menu">
          <li><a href="#">Categoria 1</a></li>
          <li><a href="#">Categoria 1</a></li>
          <li><a href="#">Categoria 1</a></li>
          <li><a href="#">Categoria 1</a></li>
      </ul>
      </li>
      <li><a href="#">mi</a>
      <ul class="sub-menu">
        <li><a href="#">Categoria 1</a></li>
        <li><a href="#">Categoria 1</a></li>
        <li><a href="#">Categoria 1</a></li>
      </ul>
      </li>
      <li><a href="#">Carrito</a></li>
    </ul>
    <div class="clear"></div>
  </div>
</div>