<div class="right-box blue">
  <div style="padding:10px 20px;">
    <fb:like href="https://www.facebook.com/apps/application.php?id=195975813810721" send="false" layout="button_count" width="110" show_faces="false"></fb:like>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="g-plusone" data-size="medium" data-href="http://www.tabelia.com/"></div>
    <g:plusone size="medium"></g:plusone>
    <a href="//twitter.com/share" class="twitter-share-button" data-count="none">Tweet it</a>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </div>
</div>