<div class="right-box common">
  <div style="padding:10px 20px; text-align:center;">
    <fb:like href="" send="false" layout="button_count" width="120" show_faces="false"></fb:like>
    <br />
    <a href="//twitter.com/share" class="twitter-share-button" data-count="none">Tweet it</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <g:plusone size="medium"></g:plusone>
  </div>
</div>