<div id="sliderWrapper">
     	 <div class="sliderCointainer">
             <div class="sliderHolder"></div>
                <div class="sliderImages">

                  <div data-title="slide" data-content='image' data-path='//assets.tabelia.com/assets/banners/es1.jpg' data-delay='4000'>
                       <p data-title='title' class="-90,bl,10,10" style="color: #ffffff"></p>
                       <p data-title='caption' class="50,250" style="background-color: #798; color: #fff">tabelizate</p> 
                   </div>

               	   <div data-title="slide" data-content='image' data-path='//assets.tabelia.com/assets/banners/es2.jpg' data-delay='4000' data-link='/shop/popular/paintings'>
                       <p data-title='title' class="-90,bl,10,10" style="color: #ffffff"></p>
                       <p data-title='caption' class="50,300" style="background-color: #455; color: #fff">elige entre miles de obras de arte</p>
                   </div>

                   <div data-title="slide" data-content='image' data-path='//assets.tabelia.com/assets/banners/es3.jpg' data-delay='4000' data-link='/shop/popular/photos'>
                       <p data-title='title' class="-90,bl,10,10" style="color: #ffffff"></p>
                       <p data-title='caption' class="50,200" style="background-color: #475; color: #ffffff">hay millones de</p>
                       <p data-title='caption' class="50,300" style="background-color: #455; color: #fff">fotografías para elegir</p>
                   </div>

                    <div data-title="slide" data-content='image' data-path='//assets.tabelia.com/assets/banners/es4.jpg' data-delay='4000'>
                       <p data-title='title' class="-90,bl,10,10" style="color: #ffffff"></p>
                       <p data-title='caption' class="50,200" style="background-color: #977; color: #ffffff">personaliza tus imágenes</p>
                       <p data-title='caption' class="50,300" style="background-color: #455; color: #fff">para un regalo, tu negocio, hay miles de opciones</p> 
                   </div>

                   <div data-title="slide" data-content='image' data-path='//assets.tabelia.com/assets/banners/es5.jpg' data-delay='4000'>
                       <p data-title='title' class="-90,bl,10,10" style="color: #ffffff"></p>
                       <p data-title='caption' class="50,200" style="background-color: #475; color: #fff">un regalo original</p>
                       <p data-title='caption' class="50,300" style="background-color: #455; color: #fff">la foto de vacaciones, de tu sobrin@...</p>
                   </div>

                   <div data-title="slide" data-content='image' data-path='//assets.tabelia.com/assets/banners/es6.jpg' data-delay='4000'>
                     <p data-title='title' class="-90,bl,10,10" style="color: #ffffff"></p>
                     <p data-title='caption' class="50,300" style="background-color: #475; color: #ffffff">cubre tus paredes con el diseño o imágen que prefieras</p>
                 </div>
               </div>

          </div>
          <div class="fontMeasure">a</div>

      </div>

      <div id="componentLoader"><img src='//assets.tabelia.com/assets/icons/loader.gif' width='35' height='35'></img></div>