  <%= render :partial => 'partials/art/profile/art' %>
<div class="unitx3 left">
  <%= render :partial => 'partials/art/profile/description' %>
</div>
<div class="unitx3 right">
  <% cache "comments-art-#{@art.id.to_s}-#{I18n.locale.to_s}" do %>
  <%= render :partial => 'partials/art/profile/comments' %>
  <% end %>
</div>