ul.activities {
	list-style: none;
	margin:5px 0 0 0;
	overflow:hidden;
}

ul.activities li {
	background-color: #fafafa;
	padding:5px;
	margin-bottom:5px;
	overflow:hidden;
}

ul.activities li span {
	color:#464646;
}

ul.activities li p {
	font-size: 12px;
}
ul.activities li p.timeago {
	font-size: 10px;
	line-height: 12px;
}
ul.activities li div.actor {
	width: 30px;
	margin-left: 10px;
	margin-top: 5px;
}

ul.activities li div.data {
	width: 240px;
	margin-top: 5px;
	border: 1px solid #eee;
	background-color: #f8f8f8;
	padding: 3px 5px;
	min-height: 32px;
}

ul.activities li div.data p {
	font-size: 11px;
	line-height: 15px;
	color:#bbb;
}