input[type=submit], input[type=button], a.abutton, .pagination a {
	-moz-box-shadow:inset 0px 1px 0px 0px #e20000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e20000;
	box-shadow:inset 0px 1px 0px 0px #f20000;
	background-color:#e20000;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #c20000;
	display:inline-block;
	color:#ffffff !important;
	font-size: 12px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #b92800;
	position:relative;
	width:auto;
	cursor:hand;
	margin-bottom:1px;
}

input[type=submit].big, input[type=button].big, a.abutton.big {
	font-size: 16px;
	padding: 8px 10px;
}

input[type=submit].green, input[type=button].green, a.abutton.green {
	background-color: #8db783;
	-moz-box-shadow:inset 0px 1px 0px 0px #DCECD8;
	-webkit-box-shadow:inset 0px 1px 0px 0px #DCECD8;
	box-shadow:inset 0px 1px 0px 0px #DCECD8;
	border:1px solid #617F5A;
	color:#fff !important;
	text-shadow:1px 1px 0px #74966c;
}

input[type=submit].green:hover, input[type=button].green:hover, a.green:hover, .pagination a.green:hover {
	background-color:#74966c !important;
	text-shadow:1px 1px 0px #617F5A;
	text-decoration:none;
	cursor: hand;
}

input[type=submit].yellow, input[type=button].yellow, a.abutton.yellow {
	background-color: #e9ce1c;
	-moz-box-shadow:inset 0px 1px 0px 0px #e0b020;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e0b020;
	box-shadow:inset 0px 1px 0px 0px #e0b020;
	border:1px solid #ad9916;
	color:#fff !important;
	text-shadow:1px 1px 0px #c4ae19;
}

input[disabled], input[disabled]:hover {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#eee;
	color:#ddd;
	text-shadow:1px 1px 0px #ffffff;
	border:1px solid #ddd;
}


input[type=submit].yellow:hover, input[type=button].yellow:hover, a.yellow:hover, .pagination a.yellow:hover {
	background-color:#e0b020 !important;
	text-shadow:1px 1px 0px #ad9916;
	text-decoration:none;
	cursor: hand;
}

input[type=submit]:hover, input[type=button]:hover, a.abutton:hover, .pagination a:hover {
	background-color:#f20000;
	text-decoration:none;
	cursor: hand;
}

.input[type=submit]:active, input[type=button]:active, a.abutton:active, .pagination a:active {
	position:relative;
	top:1px;
}

input[type=submit], input[type=button] {
	padding:4px 24px;
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
} 

a.abutton {
	padding:2px 24px;
}

.pagination a, .pagination a:hover {
	padding:2px 12px;
	text-decoration:none;
}
.pagination {
	text-align:center;
}

.pagination span.gap {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f3f3f3), color-stop(1, #f0f0f0) );
	background:-moz-linear-gradient( center top, #f3f3f3 5%, #f0f0f0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#f0f0f0');
	background-color:#f0f3f0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ddd;
	padding:2px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	position:relative;
}

.pagination span.current {
	background-color:#ff0000;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #c20000;
	display:inline-block;
	color:#a20000;
	padding:2px 16px;
	text-decoration:none;
	text-shadow:1px 1px 0px #f20000;
	position:relative;
	cursor:pointer;
}

a.follow {
	padding:2px 12px 2px 24px;
	background: #ededed url('/assets/icons/plusgrey.png') no-repeat 6px 5px;
}

a.follow:hover {
	padding:2px 12px 2px 24px;
	background: #00ac00 url('/assets/icons/plusgreen.png') no-repeat 6px 5px;
	color:#fff !important;
	-moz-box-shadow:inset 0px 1px 0px 0px #0f0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #0f0;
	box-shadow:inset 0px 1px 0px 0px #0f0;
	border: 1px solid #006000;
	text-shadow:0 0;
}

a.unfollow {
	padding:2px 12px 2px 24px;
	background: #00ac00 url('/assets/icons/checkgreen.png') no-repeat 6px 5px;
	color:#fff !important;
	-moz-box-shadow:inset 0px 1px 0px 0px #0f0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #0f0;
	box-shadow:inset 0px 1px 0px 0px #0f0;
	border: 1px solid #006000;
	text-shadow:0 0;
}

a.unfollow:hover {
	padding:2px 12px 2px 24px;
	background: #ee0000 url('/assets/icons/cancel.png') no-repeat 6px 5px;
	color:#fff !important;
	-moz-box-shadow:inset 0px 1px 0px 0px #f00;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f00;
	box-shadow:inset 0px 1px 0px 0px #f00;
	border: 1px solid #c20000;
	text-shadow:0 0;
}

a.delete {
	padding:2px 9px 2px 24px;
	background: #ededed url('/assets/icons/cancel.png') no-repeat 6px 5px;
	text-shadow:0 0;
}

a.delete:hover {
	padding:2px 9px 2px 24px;
	background: #ee0000 url('/assets/icons/cancel.png') no-repeat 6px 5px;
	color:#fff !important;
	-moz-box-shadow:inset 0px 1px 0px 0px #f00;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f00;
	box-shadow:inset 0px 1px 0px 0px #f00;
	border: 1px solid #c20000;
	text-shadow:0 0;
}

a.like {
	padding:2px 12px 2px 24px;
	background: #d20000 url('/assets/icons/heartgrey.png') no-repeat 6px 5px;
}

a.like:hover {
	padding:2px 12px 2px 24px;
	background: #f20000 url('/assets/icons/heartred.png') no-repeat 6px 5px;
}

a.unlike {
	padding:2px 12px 2px 24px;
	background: #d20000 url('/assets/icons/heartred2.png') no-repeat 6px 5px;
}

a.unlike:hover {
	padding:2px 12px 2px 24px;
	background: #ee0000 url('/assets/icons/cancel.png') no-repeat 6px 5px;
	color:#fff !important;
	-moz-box-shadow:inset 0px 1px 0px 0px #f00;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f00;
	box-shadow:inset 0px 1px 0px 0px #f00;
	border: 1px solid #c20000;
	text-shadow:0 0;
}

a.message {
	padding:2px 12px 2px 24px;
	background: #ededed url('/assets/icons/mailgrey.png') no-repeat 6px 5px;
}

a.message:hover {
	padding:2px 12px 2px 24px;
	background: #ededed url('/assets/icons/mailwhite.png') no-repeat 6px 5px;
	color: #fff !important;
}

input.comment_submit {
	display:none;
	vertical-align:top;
	top:0;
	padding:3px 10px 3px 10px;
	background: #ededed url('/assets/icons/commentgrey.png') no-repeat 3px 3px;
}

input.comment_submit:hover {
	padding:3px 10px 3px 10px;
	background: #7d7d7d url('/assets/icons/comment.png') no-repeat 3px 3px;
	-moz-box-shadow:inset 0px 1px 0px 0px #aaa;
	-webkit-box-shadow:inset 0px 1px 0px 0px #aaa;
	box-shadow:inset 0px 1px 0px 0px #aaa;
}