input[type=submit], input[type=button], a.abutton, .pagination a {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	/* background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% ); 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');

	background: #ededed url('/assets/icons/search1.png') no-repeat 0 0; */

	background-color:#ededed;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777 !important;
	font-size: 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	position:relative;
	top: -3px;
}

input[type=submit]:hover, input[type=button]:hover, a.abutton:hover, .pagination a:hover {
	/* background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed'); */
	background-color:#dfdfdf;
	cursor: hand;
}

.input[type=submit]:active, input[type=button]:active, a.abutton:active, .pagination a:active {
	position:relative;
	top:1px;
}

input[type=submit], input[type=button] {
	padding:4px 24px;
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
} 

a.abutton {
	padding:2px 24px;
}

.pagination a {
	padding:2px 12px;

}
.pagination {
	text-align:center;
}

.pagination span.gap {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f3f3f3), color-stop(1, #f0f0f0) );
	background:-moz-linear-gradient( center top, #f3f3f3 5%, #f0f0f0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#f0f0f0');
	background-color:#f0f3f0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ddd;
	padding:2px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	position:relative;
	top: -3px;	
}

.pagination span.current {
	/* background:-webkit-gradient( linear, left top, left bottom, color-stop(0, #ff7878), color-stop(1, #bf3939) );
	background:-moz-linear-gradient( center top, #ff7878 0%, #bf3939 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7878', endColorstr='#bf3939'); */
	-moz-box-shadow:inset 0px 1px 0px 0px #ff0000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ff0000;
	box-shadow:inset 0px 1px 0px 0px #ff0000;
	background-color:#d40000;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #c20000;
	display:inline-block;
	color:#fff;
	padding:2px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ff0000;
	position:relative;
	top: -3px;
}

a.follow {
	padding:2px 12px 2px 24px;
	background: #ededed url('/assets/icons/plusgrey.png') no-repeat 6px 5px;
}

a.follow:hover {
	padding:2px 12px 2px 24px;
	background: #00ac00 url('/assets/icons/plusgreen.png') no-repeat 6px 5px;
	color:#fff !important;
	-moz-box-shadow:inset 0px 1px 0px 0px #0f0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #0f0;
	box-shadow:inset 0px 1px 0px 0px #0f0;
	border: 1px solid #006000;
	text-shadow:0 0;
}

a.unfollow {
	padding:2px 12px 2px 24px;
	background: #00ac00 url('/assets/icons/checkgreen.png') no-repeat 6px 5px;
	color:#fff !important;
	-moz-box-shadow:inset 0px 1px 0px 0px #0f0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #0f0;
	box-shadow:inset 0px 1px 0px 0px #0f0;
	border: 1px solid #006000;
	text-shadow:0 0;
}

a.unfollow:hover {
	padding:2px 12px 2px 24px;
	background: #ee0000 url('/assets/icons/cancel.png') no-repeat 6px 5px;
	color:#fff !important;
	-moz-box-shadow:inset 0px 1px 0px 0px #f00;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f00;
	box-shadow:inset 0px 1px 0px 0px #f00;
	border: 1px solid #c20000;
	text-shadow:0 0;
}

input.comment_submit {
	display:none;
	vertical-align:top;
	top:0;
	padding:3px 10px 3px 10px;
	background: #ededed url('/assets/icons/commentgrey.png') no-repeat 3px 3px;
}

input.comment_submit:hover {
	padding:3px 10px 3px 10px;
	background: #7d7d7d url('/assets/icons/comment.png') no-repeat 3px 3px;
	-moz-box-shadow:inset 0px 1px 0px 0px #aaa;
	-webkit-box-shadow:inset 0px 1px 0px 0px #aaa;
	box-shadow:inset 0px 1px 0px 0px #aaa;
}