/**** simple_form ****/
.simple_form {
	margin-bottom: 20px;
}

.simple_form label {
	font: 12px/20px Cabin, "Helvetica Neue", Helvetica, Arial, sans-serif;
	float: left;
	width: 100px;
	text-align: right;
	margin: 4px 10px 4px 10px;
}

.simple_form div.input {
	margin-bottom: 10px;
}

.simple_form div.input input[type=text], .simple_form div.input input[type=password], .simple_form div.input textarea, .simple_form div.input select {
	font: 12px/16px Cabin, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width:335px;
	margin: 0 10px 0 0;
	padding: 6px 5px;
	background: #fcfcfc;
	border: 1px solid #ddd;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
} 

.simple_form div.field_with_errors input[type=text], .simple_form div.field_with_errors select {
	background-color:#ffc9c9;
}

.simple_form div.input textarea {
	height: 150px;
} 

.simple_form div.boolean, .simple_form input[type=submit] {
	margin-left: 120px;
	clear:left;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
	float: none;
	margin: 0;
}

.simple_form label.collection_radio {
	margin-right: 10px;
	margin-left: 2px;
}

.simple_form .error {
	clear: left;
	margin-left: 120px;
	font-size: 12px;
	color: #D00;
	display: block;
}

.simple_form .hint {
	clear: left;
	margin-left: 120px;
	font-size: 12px;
	color: #aaa;
	display: block;
	font-style: italic;
}

.simple_form .boolean .hint {
	margin-left:0px;
}

.simple_form p.button {
	text-align: right;
}

div#error_in_form {
	width:80%;
	margin: 0 auto 10px auto;
	padding:5px;
	color: #c20000;
	border: 1px solid #c20000;
	background-color: #fec1c1;
	display:none;
}

textarea {
	font: 12px/16px Cabin, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 0 0;
	background: #fafafa;
	border: 1px solid #ddd;
	padding: 3px 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.simple_form div.input input[type="text"].new_message_input {
	width: 400px;
	margin:0;
}

.simple_form textarea.new_message_input { 
	width: 520px;
	height: 220px;
	margin:0;
	padding:5px;
}

div#errors, div#errors ul {
	font-size:11px;
	line-height:13px;
	color:#c20000;
	margin:10px;
}

form.login input#email, form.login input#password { width:264px; margin:0; }

form.big div.input label, form.big div.input input[type=text], form.big div.input input[type=password], form.big div.input textarea, form.big div.input select { 
	font: 15px/20px Cabin, "Helvetica Neue", Helvetica, Arial, sans-serif;
	}