/*
 *= require baseline
 *= require mainmenu
 *= require facebox
 *= require simpleform
 *= require buttons
 *= require flashbar
 *= require boxes
 *= require messages
 *= require activities
 *= require capify
 *= require farbtastic
 *= require slider
 *= require table
 *= require profile
 *= require tipsy
 *= require_self
*/

/* BASICS */
/* body                    { font-family: Cabin, "Helvetica Neue", Helvetica, Arial, sans-serif; color:#7d7d7d; background-color:#f7f7f7;} */
body                    { font-family: 'Helvetica Neue', 'lucida grande', verdana, arial, sans-serif; color:#7d7d7d; background-color:#f7f7f7;}
#page					{ margin: 0 auto; background-color: #fff; padding:0; top: 65px; }

section					{ padding-bottom: 0 !important; }
hr						{ background: #c20000; }
section#main            { min-height:50px; margin-bottom:39px; }

footer                  { margin-bottom:0px; overflow:hidden; height: 136px; font-size:13px;}
footer a, footer li { font-size:12px;}

footer p				{ margin: 0 10px; font-size:12px; top:0; line-height:24px;}
.greyed                 { background-color: #f0f0f0; height:36px; }
.greyed p 				{ line-height:36px;}

footer ul.footer_ul     { height:80px; margin: 10px 20px; width:200px; float:left;}
footer ul.footer_ul li  { list-style: none;}


hr.nobottom             { margin-bottom:0px;}
.header-login           { background-color: #c20000; color: #fff; height:65px; width:990px; margin: 0 auto;}
.header-login .in       { padding: 0px 10px 0px 0px; line-height:30px; }
.header-login .logo     { padding: 10px 15px; height: 50px; overflow:hidden; }
.header-login h1        { text-indent: -9999px; margin:0; height:40px; width:152px; background: url(//s3-eu-west-1.amazonaws.com/assets.tabelia.com/assets/logo.png) no-repeat !important; top:0;}
.header-login .logo a   { font-size:13px; line-height:13px;} 
.header-login .search a,
.header-login .search a:hover,
.header-login .search p { color:#fff; font-size:11px; line-height:12px;}

header                  { background-color: #f7f7f7; height:65px; }

time.timeago            { font-size: 10px; line-height: 12px; display:block;}
time.timeagoright       { font-size: 10px; line-height: 12px; display:block; text-align:right;}

.left-container         { padding-left: 5px; overflow:hidden; }
a                       { color:#c20000; text-decoration:none; }
a:hover                 { text-decoration:underline; }
span.title              { font-size:14px; font-weight: bold; text-transform:uppercase; }
span.important          { font-size:12px; font-weight: bold; }
.left                   { float:left; }
.right                  { float:right; }
.center                 { text-align:center; }
.aright                 { text-align:right; }
.justify				{ text-align:justify;}
.b						{ font-weight:bold;}
.u						{ text-decoration:underline;}
.i                      { font-style:italic}
.s9                    { font-size:9px; line-height:12px;}
.s10                   { font-size:10px; line-height:14px;}
.s11                   { font-size:11px; line-height:15px;}
.s12                   { font-size:12px; line-height:16px;}
.s13                   { font-size:13px; line-height:18px;}
.s14                   { font-size:14px; line-height:19px;}
.s16                   { font-size:16px; line-height:20px; }
.s18                   { font-size:18px; line-height:20px; }
.s24                   { font-size:24px; line-height:30px; }
.s28					{ font-size:28px; line-height:45px; }
.s38                   { font-size:38px; line-height:50px; }
.width3a               { width:658px;} 

p.division              { font-size:14px; padding-left: 10px; font-weight:bold;margin-bottom:15px; display:block; border-bottom:1px solid #f0f0f0;}
/* ul#listing               { list-style: none; margin-left:0; border: 1px solid #c20000;} */
ul#listing               { list-style: none; margin-left:0; }
ul#listing li            { border-bottom: 1px solid #f7f7f7;  height:95px;} /* border-right: 1px solid #f7f7f7; */
ul#listing li.even        { height:95px; background-color: #fdfdfd;}
ul#listing li:first-child { border-top:1px solid #f7f7f7;}
ul#listing div.user      { padding: 10px 0 10px 10px; width: 363px; height:75px; }
ul#listing div.art       { padding: 10px 10px 10px 0; width: 340px; height:75px;}
ul#listing div.art .n    { width: 73px; height:73px; border: 1px solid #f0f0f0; background:#fafafa; float:right;}
ul#listing div.art .a    { width: 265px; height:75px; text-align:right; float:right;}
ul#listing div.avatar    { padding: 0; width: 75px; height:75px; overflow:hidden;}
ul#listing div.data      { padding: 0; width: 275px; height:75px; overflow:hidden;}
ul#listing div.artlist   { padding: 10px 0 10px 10px; width: 600px; height:75px; }
ul#listing div.artdata   { padding: 0; width: 515px; height:75px; overflow:hidden;}
ul#listing div.likes     { padding: 10px; width: 100px; height:75px;}
ul#listing div.likes .n  { text-align:center; height:73px; vertical-align:middle; border: 1px solid #f0f0f0; background:#fafafa;}

	
ul#cart                  { list-style: none; margin-left:0; }
ul#cart li               { border-bottom: 1px solid #ddd; overflow:hidden;} /* border-right: 1px solid #ddd; */
ul#cart li.even          { background-color: #f1f1f1;}
ul#cart li:first-child   { border-top:1px solid #ddd;}

ul#cart div.item_shot    { width:300px; padding:10px;}
ul#cart div.item_info    { padding:10px; width:395px;}

div.image_thumb          { height: 95px; width: 85px; overflow:hidden; display:inline;}
div.image_thumb a        { line-height: 0px;}
div.image_thumb img      { padding:10px 10px 10px 0;line-height: 0px; height:75px; width:75px;}
div.userinfo             { width: 125px; height:95px;}

div#like_status a,
div#follow_status a,
div#message a,

div#actions a            { top:10px; }

div#add_to_cart 		 {overflow:hidden; margin-bottom:10px; text-align:center;}

span.search-bg           { background:#fafafa url(//s3-eu-west-1.amazonaws.com/assets.tabelia.com/assets/icons/search.png) no-repeat !important; background-position: 290px 4px !important; display:block; padding:2px 5px; margin-top:15px; }
span.search-bg input#search  { background-color:transparent; border: 0px; color:#7d7d7d; width:278px; margin-right:20px; line-height:18px;}

div#color                { cursor:pointer;}
.special-left            { width:660px;}
.special-right           { width:330px; overflow:hidden;}

.ml10                    { margin-left:10px;}
.ml20                    { margin-left:20px;}
.cart_title              { font-size:14px; font-weight:bold; color:#464646; margin-bottom:5px;}

div.bimg {font-size:13px; line-height:13px; min-height:165px;}

/* Searches */

span.search-bg { cursor:pointer;}

/* First Page Footer */
footer.first_page { margin:0px; bottom: 0px; position:fixed; height:36px; overflow:hidden; }
footer.first_page div.footer_width { width:988px; margin: 0 auto;background-color:#fff; border-top: 3px solid #c20000; height:36px; /* box-shadow: 0px 2px 7px #bbb; */ border-left: 1px solid #f0f0f0; border-right: 1px solid #f0f0f0;}
div#container { border: 1px solid #f0f0f0; overflow:hidden;}

div.provider { min-width: 70px; vertical-align:middle; float:left; height:64px; line-height:64px;}
div.message_top {background:#FFF6BF;color:#514721;border-bottom:2px solid #FFD324;}

ul#l { margin:0 0 20px 10px; padding:0; list-style:none; overflow:hidden; }
ul#l li { margin:0 10px 0 0; min-height:220px; width:180px; float:left; text-align:center; }
ul#l li div.image { height:195px; text-align:center; }
img.item { padding:5px; background-color:#f0f0f0; border: solid 1px #ddd; -moz-box-shadow: 1px 1px 5px #ccc; -webkit-box-shadow: 1px 1px 5px #ccc; box-shadow: 1px 1px 5px #ccc; }
img.item:hover { border: solid 1px #aaa; -moz-box-shadow: 1px 1px 5px #999; -webkit-box-shadow: 1px 1px 5px #999; box-shadow: 1px 1px 5px #999; }
div#styles, div#subjects, div#tecniques { overflow:hidden; }
div.paginate-right { float:right; margin:20px;}

.width-x { width:200px; }
.width-y { width:772px; }

/* frontpage */
div.frontpage { color:#000; padding:0px; overflow:hidden;}
div.frontpage p { padding:6px 10px;}
div.frontpage span.red { color: #c20000; }
div.frontpage span.redb { color: #c20000;  font-weight: bold;}
div.frontpage span.u { font-weight: bold; text-decoration:underline;}
div#last_show,
div#photos_random { width:330px; height: 660px; overflow:hidden; }
.box40px { padding:0px 40px; }
.hidden { display:none;}
.clearfix { clear:both;}

.nivoSlider {
    position:relative;
    width:660px; 
    height:350px; 
    background:url(//s3-eu-west-1.amazonaws.com/assets.tabelia.com/assets/preload.gif) no-repeat 50% 50%;
	margin: 5px 0;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
	position:absolute;
	width:660px; 
    height:350px;
	top:0px;
	left:0px;
}
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:660px;
	height:350px;
	border:0;
	padding:0;
	margin:0;
}