/*
 *= require baseline
 *= require mainmenu
 *= require facebox
 *= require simpleform
 *= require buttons
 *= require flashbar
 *= require boxes
 *= require messages
 *= require activities
 *= require capify
 *= require farbtastic
 *= require_self
*/

/* BASICS */
body                    { font-family: Cabin, "Helvetica Neue", Helvetica, Arial, sans-serif; color:#7D7D7D; background-color:#f0f0f0;}
#page					{ margin: 0 auto 36px auto; background-color: #fafafa; padding-left: 0px; padding-right:0px; box-shadow: 0px 2px 7px #bbb;}
section					{ padding-bottom: 0 !important; }
hr						{ background: #c20000; }
section#main            { min-height:500px;}

footer                  { margin-bottom:18px; }
footer p                { padding: 0 10px; text-align:right;}
.header-login           { background-color: #c20000; color: #fff; height:50px; width:990px; margin: 0 auto; box-shadow: 0px 2px 7px #999;}
.header-login .in       { padding: 10px 10px 10px 0px; line-height:30px;}
.header-login .logo     { padding: 5px 10px 0 0; height: 45px; overflow:hidden; }
header                  { background-color: #f0f0f0; height:50px;}

.left-container         { padding-left: 5px; overflow:hidden;}
a                       { color:#c20000; text-decoration:none; }
a:hover                 { text-decoration:underline; }
span.title              { font-size:14px; font-weight: bold; text-transform:uppercase;}
span.important          { font-size:12px; font-weight: bold; }
.left                   { float:left; }
.right                  { float:right; }
.center                 { text-align:center;}

p.s9                    { font-size:9px; }
p.s10                   { font-size:10px; }
p.s11                   { font-size:11px; }
p.s12                   { font-size:12px; }

/* ul#listing               { list-style: none; margin-left:0; border: 1px solid #c20000;} */
ul#listing               { list-style: none; margin-left:0; }
ul#listing li            { border-top: 1px solid #c20000; height:95px;}
ul#listing li.even        { border-top: 1px solid #c20000; height:95px; background-color: #f1f1f1;}
ul#listing li:first-child { border-top: 0px;}
ul#listing div.user      { padding: 10px 0 10px 10px; width: 363px; height:75px; }
ul#listing div.art       { padding: 10px 10px 10px 0; width: 330px; height:75px;}
ul#listing div.avatar    { padding: 0; width: 75px; height:75px; overflow:hidden;}
ul#listing div.data      { padding: 0; width: 275px; height:75px; overflow:hidden;}
ul#listing div.artlist   { padding: 10px 0 10px 10px; width: 600px; height:75px; }
ul#listing div.artdata   { padding: 0; width: 515px; height:75px; overflow:hidden;}
ul#listing div.likes     { padding: 10px 10px 10px 0; width: 100px; height:75px;}

div.image_thumb          { height: 95px; width: 85px; overflow:hidden; display:inline;}
div.image_thumb a        { line-height: 0px;}
div.image_thumb img      { padding:10px 10px 10px 0;line-height: 0px;}
div.userinfo             { width: 125px; padding-top: 5px;}

div#like_status a,
div#follow_status a,
div#message a,
div#actions a            { top:10px; }

span.search-bg           { background:#fafafa url(/assets/icons/search.png) no-repeat !important; background-position: 290px 4px !important; display:block; padding:2px 5px; margin-top:15px; }
input#search             { background-color:transparent; border: 0px; color:#7d7d7d; width:278px; margin-right:20px; line-height:18px;}

div#color                { cursor:pointer;}
.special-left            { width:660px;}
.special-right           { width:330px; overflow:hidden;}