<ul id="navigation">
	<li><a href="/admin">Dashboard</a></li>
	<li><a href="/admin/users">Usuarios</a>
		<ul>
	      <li><a href='#'>New Clients</a></li>
		</ul>
	</li>
	<li><a href="/admin/arts">Arte</a></li>
	<li><a href="/admin/photos">Fotos</a></li>
	<li><a href="#">Reports</a></li>
	<li><a href="#">System</a></li>
</ul>