<li class="<%= cycle('odd', 'even') %>">
  <div class="artlist left">
    <div class="avatar left">
      <%= link_to image_tag(art.image.url(:thumb).to_s, :alt => art.name), art_profile_path(:slug => art.slug) %>
    </div>      
    <div class="artdata right">
      <p><%= link_to art.name, art_profile_path(:slug => art.slug) %></p>
      <p class="s12"><%= truncate(art.description, :length => 150, :omission => ' ...') if art.description %></p>
    </div>
  </div>
  <div class="likes align-right">
    sdf
  </div>
  <div class="clear"></div>
</li>