<li class="<%= cycle('odd', 'even') %>">
  <div class="user left">
    <div class="avatar left">
      <%= link_to image_tag(user.avatar.url(:thumb).to_s, :alt => user.name), user_profile_path(:username => user.username) %>
    </div>      
    <div class="data right">
      <p><%= link_to user.name, user_profile_path(:username => user.username) %></p>
      <p>x followers</p>
    </div>
  </div>
  <div class="art align-right">
    sdf
  </div>
  <div class="clear"></div>
</li>
