<li>
  <div class="user left">
    <p><%= link_to user.name, user_profile_path(:username => user.username) %></p>
    <p>x followers</p>
  </div>
  <div class="art align-right">
    sdf
  </div>
  <div class="clear"></div>
</li>
