<div class="box orange">
  <div class="title"><%= t('common.help_title') %></div>
  <div class="content">
    <% case I18n.locale.to_s %>
    <% when 'es' %>
      <p class="justify s12">Este es el panel de creación/edición de tu cuadro.<p>
        <br />
      <p class="justify s12">Es imprescidible que cada cuadro tenga un nombre y que subas el fichero final con la obra.</p>
      <br />
      <p class="justify s12">Escribe el precio en euros que deseas cobrar por cada reproducción. Si no deseas que un formato sea vendido deja el precio a 0 y no será posible seleccionarlo durante el proceso de compra. Todos los precios son en euros.</p>
      <br />
      <p class="justify s12">Los ficheros que puedes subir son de tipo JPG o PNG con un tamaño máximo de 20Mb. Guarda los archivos con la máxima calidad posible. Si el fichero no tiene la suficiente calidad el tamaño máximo de impresión será limitado por la misma. Procura que los ficheros tengan al menos 4000 pixeles por el lado más corto.</p>
      <br />
      <p class="justify s12">Se paciente mientras el fichero sube a nuestros servidores, dependiendo de la velocidad de tu conexión este proceso puede demorarse unos minutos.</p>
      <br />
      <p class="justify s12"><span class="b">NOTA IMPORTANTE:</span></p>
      <p class="justify s12">Si necesitas editar la información sobre tu cuadro (cambiar la descripción, etc), no es necesario que vuelvas a añadir el fichero. Si subes uno nuevo, la obra <span class="b">dejará de estar publicada y volverá a pasar por el proceso de aprobación</span>.</p>
      <br /><br />
    <% end %>
  </div>
</div>

